<a href="/add">Add a Task  </a>&nbsp; | &nbsp;<a href="/completed">   Complete a Task</a>



<h1> Here's what you have left on your todo list...</h1>
 <ul id="list_of_tasks">
    <% AddedTask.all.each do |c| %>
    	<li>
    		<form action="/completed/tasks/<%=c.id%>" method="post"> 
    			<input type="submit" value="complete">
       		<%= c.id %> &nbsp; <%= c.task %>
       		</form>
    	</li>
    	<% end %>
</ul>